<a href="https://colab.research.google.com/github/harshpriye/DS-Projects/blob/master/BankData_ML_Intermediate_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# For Panel Data Analysis
import pandas as pd
from pandas_profiling import ProfileReport
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.mode.chained_assignment = None
# For Numerical Python
import numpy as np
# For Random seed values
# from random import randint
# For Data Visualization
import matplotlib.pyplot as plt
import matplotlib.lines as mlines
import seaborn as sns
# For Scientific Computation
from scipy import stats
# For Preprocessing
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler, StandardScaler
# For Feature Selection
# from sklearn.feature_selection import SelectFromModel
%matplotlib inline
# For Data Modeling and Evaluation
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn.ensemble import RandomForestClassifier
# from xgboost.sklearn import XGBClassifier
# from sklearn.metrics import classification_report
# from yellowbrick.classifier import PrecisionRecallCurve
# from xgboost import to_graphviz, plot_importance
# To handle class imbalance problem
# from imblearn.over_sampling import SMOTE
# To Disable Warnings
import warnings
warnings.filterwarnings(action = "ignore")

In [4]:
bank_data = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-4/master/Data/Assignment/banking_data.csv')
print('Data Shape:', bank_data.shape)
bank_data.head()

Data Shape: (88337, 42)

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Tax Liens,Term_Long Term,Term_Short Term,Years in current job_1 year,Years in current job_10+ years,Years in current job_2 years,Years in current job_3 years,Years in current job_4 years,Years in current job_5 years,Years in current job_6 years,Years in current job_7 years,Years in current job_8 years,Years in current job_9 years,Years in current job_< 1 year,Home Ownership_HaveMortgage,Home Ownership_Home Mortgage,Home Ownership_Own Home,Purpose_Business Loan,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding,Loan Status
0,445412.0,709.000000,1.167493e+06,5214.74,17.2,6.0,1.0,228190.0,416746.0,0.0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,Fully Paid
1,262328.0,1076.275101,1.378339e+06,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,Fully Paid
2,347666.0,721.000000,8.069490e+05,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,Fully Paid
3,176220.0,1076.275101,1.378339e+06,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,Fully Paid
4,206602.0,7290.000000,8.968570e+05,16367.74,17.3,6.0,0.0,215308.0,272448.0,0.0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,Charged Off

In [10]:
bank_data.describe()

,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Tax Liens,Term_Long Term,Term_Short Term,Years in current job_1 year,Years in current job_10+ years,Years in current job_2 years,Years in current job_3 years,Years in current job_4 years,Years in current job_5 years,Years in current job_6 years,Years in current job_7 years,Years in current job_8 years,Years in current job_9 years,Years in current job_< 1 year,Home Ownership_HaveMortgage,Home Ownership_Home Mortgage,Home Ownership_Own Home,Purpose_Business Loan,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_major_purchase,Purpose_moving,Purpose_other,Purpose_renewable_energy,Purpose_small_business,Purpose_vacation,Purpose_wedding
count,88337.000000,88337.000000,8.833700e+04,88337.000000,88337.000000,88337.000000,88337.000000,8.833700e+04,8.833700e+04,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000,88337.000000
mean,312507.036100,1121.736129,1.374343e+06,18524.903547,18.147001,11.129821,0.169001,2.943540e+05,7.615013e+05,0.029569,0.288384,0.711616,0.064707,0.311466,0.090494,0.081585,0.061413,0.067729,0.056681,0.056092,0.045994,0.039632,0.081257,0.002083,0.482493,0.092057,0.016279,0.006849,0.012260,0.785616,0.000906,0.057926,0.011264,0.032161,0.003475,0.001472,0.060948,0.000113,0.002853,0.001064,0.001053
std,186292.362025,1403.253420,9.767409e+05,12172.210831,6.998983,5.002783,0.484476,3.760218e+05,8.855108e+06,0.260245,0.453013,0.453013,0.246009,0.463096,0.286890,0.273733,0.240087,0.251282,0.231233,0.230101,0.209474,0.195095,0.273231,0.045592,0.499696,0.289107,0.126545,0.082474,0.110044,0.410396,0.030080,0.233605,0.105532,0.176428,0.058850,0.038334,0.239237,0.010639,0.053335,0.032603,0.032430
min,15422.000000,585.000000,7.662700e+04,0.000000,3.600000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,172414.000000,710.000000,9.367000e+05,10270.260000,13.400000,8.000000,0.000000,1.130120e+05,2.718540e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,267454.000000,733.000000,1.378339e+06,16282.240000,16.900000,10.000000,0.000000,2.101020e+05,4.644860e+05,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,432784.000000,1076.275101,1.489448e+06,24069.960000,21.600000,14.000000,0.000000,3.679350e+05,7.771280e+05,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,789250.000000,7510.000000,1.655574e+08,435843.280000,70.500000,76.000000,15.000000,3.287897e+07,1.539738e+09,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000